body{
    align-self: center;
}
 /* Background Image*/
form {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
  }
  
 form::after {
    content: "";
    background: url(surverB.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


@media (min-width: 576px) { 

 }

@media (min-width: 768px) { 

 }

@media (min-width: 992px) {

 }

@media (min-width: 1200px) {

 }